* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}


.main{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    .cursor {
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        mix-blend-mode: difference;
    }
    h1{
        font-size: 9vw;
        font-weight: 900;
    }
}


