* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}

#container {
    height: 400px;
    width: 350px;
    background-color: #fff;
    position: relative;



    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    i{
        color: #fff;
        font-size: 70px;
        position: absolute;
        opacity: 0.8;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50% ) scale(0);
        transition: transform ease 0.4s;
    }
}
