* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}


.main{
    height: 100%;
    width: 100%;
    background-color: #111;
   
  .elem{
    height: 140px;
    width: 100%;
    // background-color: red;
    border-bottom: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    h1{
        font-size: 6vw;
        position: relative;
        z-index: 9;
        mix-blend-mode: difference;
    }

    img{
        height: 150px;
        width:150px;
        border-radius: 50%;
        position: absolute;
        opacity: 0;
        // transition: all linea r 0.2s
    };
}  
  
  
}


